#!/usr/bin/env xdg-open
[Desktop Entry]
Name=OpenVPN
Comment=VPN
Exec=/usr/bin/env bash /home/winicios/vpn.sh #Altere para seu nome de usuario. Exemplo: /home/meu-nome-usuario/vpn.sh
Icon=network-vpn
Terminal=true
Type=Application
Name[pt_BR]=OpenVPN

